<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<wicket:panel>
  <form id="playerEdit" method="get" wicket:id="playerEdit">
    <fieldset>
      <legend style="color: #F90">Add Player manually</legend>
      <div class="table">
        <div class="tr">
          <div class="td"><span>Name: </span></div>
          <div class="td"><input id="name" type="text" wicket:id="name"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Surname: </span></div>
          <div class="td"><input id="surname" type="text" wicket:id="surname"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Rank: </span></div>
          <div class="td">
            <input id="rankNum" style="width: 60px" type="number" wicket:id="rankNum"/>
            <select id="rank" wicket:id="rank"></select>
          </div>
        </div>
        <div class="tr">
          <div class="td"><span>Email: </span></div>
          <div class="td"><input id="emailAddr" type="email" wicket:id="emailAddr"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Club: </span></div>
          <div class="td"><input id="club" type="text" wicket:id="club"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Country: </span></div>
          <div class="td"><input id="country" type="text" wicket:id="country"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>age: </span></div>
          <div class="td"><input id="age" type="number" wicket:id="age"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>female: </span></div>
          <div class="td"><input id="isFemale" type="checkbox" wicket:id="isFemale"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>senior: </span></div>
          <div class="td"><input id="isSenior" type="checkbox" wicket:id="isSenior"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>student: </span></div>
          <div class="td"><input id="isStudent" type="checkbox" wicket:id="isStudent"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>U10: </span></div>
          <div class="td"><input id="isU10" type="checkbox" wicket:id="isU10"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>First Contest: </span></div>
          <div class="td"><input id="isFirstContest" type="checkbox" wicket:id="isFirstContest"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Seminar Member: </span></div>
          <div class="td"><input id="isSeminarMember" type="checkbox" wicket:id="isSeminarMember"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Wants breakfast: </span></div>
          <div class="td"><input id="isAttendsBreakfast" type="checkbox" wicket:id="isAttendsBreakfast"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>Is member of national go club: </span></div>
          <div class="td"><input id="isClubMember" type="checkbox" wicket:id="isClubMember"/></div>
        </div>
        <div class="tr">
          <div class="td"><span>is Discounted: </span></div>
          <div class="td"><input id="isDiscounted" type="checkbox" wicket:id="isDiscounted"/></div>
        </div>
      </div>
      <div wicket:id="feedback"></div>
      <p>
        <input name="save" type="submit" value="save"/>
      </p>
    </fieldset>
  </form>
</wicket:panel>
</body>
</html>