<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<!--<html xmlns:wicket="http://wicket.apache.org">-->
<head>
  <meta charset="utf-8"/>
  <title>GO Contest Manager</title>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'/>
</head>
<body>
<wicket:panel>
  <h3>Contest Manager</h3>
  <p>
    Name: <span wicket:id="contestName">JCC</span>
  </p>
  <p>
    Start date: <span wicket:id="contestStartDate">20.09.2020</span>
  </p>
  <p>
    End date: <span wicket:id="contestEndDate">21.09.2020</span>
  </p>
  <p>
    Duration: <span wicket:id="contestDuration">21.09.2020</span> Days
  </p>
  <p>
    Rounds: <span wicket:id="contestRounds">21.09.2020</span>
  </p>
  <p>
    Location: <span wicket:id="contestLocation">20.09.2020</span>
  </p>
</wicket:panel>
</body>
</html>
