<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<!--<html xmlns:wicket="http://wicket.apache.org">-->
<head>
  <meta charset="utf-8"/>
  <title>GO Contest Manager</title>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'/>
</head>
<body>
<wicket:panel>
  <h2>Overview for <span wicket:id="contestName">contestName</span></h2>
  <p>
    Contest date: <span wicket:id="contestDate">20.09.2020</span>
  </p>
  <p>
    Preregistered contestants: <span wicket:id="playerCount">50</span>
  </p>
  <div>
  </div>
</wicket:panel>
</body>
</html>
