<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<!--<html xmlns:wicket="http://wicket.apache.org">-->
<head>
  <meta charset="utf-8"/>
  <title>GO Contest Manager</title>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'/>
</head>
<body>
<wicket:panel>
  <h3>Player management</h3>
  <table>
    <thead>
    <th>
      Name
    </th>
    <th>
      Rank
    </th>
    <th>
      Paid?
    </th>
    <th>
      Student?
    </th>
    </thead>
    <tr wicket:id="players">
      <td wicket:id="name"></td>
      <td wicket:id="rank"></td>
      <td wicket:id="paymentStatus"></td>
      <td wicket:id="isStudent"></td>
    </tr>
  </table>
</wicket:panel>
</body>
</html>
