#body {
    width: 800px;
    border: 1px solid black;
    overflow: hidden; /* add this to contain floated children */
}

#menu {
    width: 200px;
    float: left;
    border: 1px solid red;
}

#content {
    border: 1px solid green;
    /*float: left;*/
}