<!DOCTYPE html>
<html lang="en" xmlns:wicket="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<wicket:panel>
  <img height="50px" src="404" width="600px">
  <div id="headerNav">
    <wicket:link>
      <ul>
        <li><a href="HomePage.html">Home</a></li>
        <li><a href="OverviewPage.html">overview</a></li>
        <li><a href="PlayerManagementPage.html">Player Management</a></li>
        <li><a href="ContestCreationPage.html">Create Contest</a></li>
        <li><a href="admin/SecuredPage.html">secure</a></li>
        <li><a href="LoginPage.html">login</a></li>
      </ul>
    </wicket:link>
  </div>
</wicket:panel>
</body>
</html>