<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<wicket:panel>
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="secure">secure</a></li>
    <li><a href="test">test</a></li>
    <li><a href="login">login</a></li>
    <li class="dropdown">
      <a class="dropbtn" href="javascript:void(0)">Dropdown</a>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
  </ul>
</wicket:panel>
</body>
</html>