<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<!--<html xmlns:wicket="http://wicket.apache.org">-->
<head>
  <meta charset="utf-8"/>
  <title>GO Contest Manager</title>
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'/>
</head>
<body>
<wicket:panel>
  <div style="padding-top: 20px">
    <h2>GCM User Management</h2>
    <p style="padding-top: 20px">
      Here is a list of all known users and their roles:
    </p>
    <hr>
    <div class="table">
      <div class="tr">
        <div class="td">Name</div>
        <div class="td">Roles</div>
        <div class="td">Permissions</div>
        <div class="td">Admin</div>
      </div>
      <div class="tr" wicket:id="userList">
        <div class="td">
          <span wicket:id="userName">name</span> <span wicket:id="userSurname">name</span><br>
        </div>
        <div class="td">
          <span wicket:id="userRoles">userRoles</span><br>
        </div>
        <div class="td">
          <span wicket:id="userPerms">userPerms</span><br>
        </div>
        <div class="td">
          <form id="userSelection" wicket:id="userSelection">
            <input type="submit" value="Manage"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</wicket:panel>
</body>
</html>
